.example{
  height: 200px;
  width: 500px; 
  background-color: rgb(200, 227, 23); 
  align-content: center;
  text-align: center; 
  

} 

.forminputs input{
  height: 30px;
  width: 200px; 
  /* align-items: center;  */
  /* text-align: center; */ 
  /* justify-items: center; */
} 



 

.Uncontroll{
  
  max-height: 500px;
  max-width: 300px;
  border: 1px solid black;  
  /* justify-content: center;  */
  justify-items: center;
  /* display: flex;  */
  /* flex-direction: column;  */
  /* row-gap: 10px; */
}  

.Uncontroll label,input{   
  display: flex; 
  /* justify-content: center; */

} 
.Uncontroll input {
  height: 20px;
}

.Uncontroll button{ 
  height: 20px;
  width: 100px;

} 
